body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(40, 40, 40, 1) 43%, rgba(65, 65, 65, 1) 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

#art,
#art2,
#art3,
#art4 {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    border: solid white 1px;
    border-radius: 10px;
    width: 12rem;
    height: 19rem;
    box-shadow: -3px 3px 7px black;
    background: rgb(25,25,25);
background: linear-gradient(155deg, rgba(25,25,25,1) 5%, rgba(42,42,42,1) 35%, rgba(76,76,76,1) 65%, rgba(120,120,120,1) 100%);
}

#sla{
    display: flex;
    gap: 20px;
}

#box-img,
#box-img2,
#box-img3,
#box-img4  {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

#box-img{
    background: rgb(120,112,0);
background: linear-gradient(155deg, rgba(120,112,0,1) 0%, rgba(120,120,62,1) 51%, rgba(120,120,120,1) 99%);
}

#box-img2{
    background: rgb(15,120,0);
background: linear-gradient(155deg, rgba(15,120,0,1) 0%, rgba(73,120,62,1) 51%, rgba(120,120,120,1) 99%);
}

#box-img3{
    background: rgb(120,0,99);
background: linear-gradient(155deg, rgba(120,0,99,1) 0%, rgba(120,62,110,1) 51%, rgba(120,120,120,1) 99%);
}

#box-img4{
    background: rgb(0,5,120);
background: linear-gradient(155deg, rgba(0,5,120,1) 0%, rgba(62,68,120,1) 51%, rgba(120,120,120,1) 99%);
}

span{
    display: flex;
}